# Dependencies
node_modules/
package-lock.json
yarn.lock

# Environment variables
.env

# Database
# data/db.json (Tracked in git for initial setup, but should be mounted as volume in prod)
data/last_error_snapshot.html

# Logs
*.log
npm-debug.log*
logs/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Puppeteer
.local-chromium/
